<h2><span class="label">Edit <%= resource_name.to_s.humanize %> </span></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal", :role => "form" }) do |f| %>
  <%= devise_error_messages! %>
	<div class="form-group">
    <%= f.label :username, 'Username', :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.text_field :username , :autofocus => true, :class => "form-control", :placeholder=>"username"%>
    </div>
  </div>

 <div class="form-group">
    <%= f.label :email, 'Email', :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.text_field :email , :autofocus => true, :class => "form-control", :placeholder=>"Email"%>
    </div>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Password update', :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.password_field :password, :autocomplete => "off", :autofocus => true, :type => "password", :class => "form-control", :placeholder=>"Leave it blank if no modification" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :password_confirmation, :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, :autocomplete => "off", :autofocus => true, :type => "password", :class => "form-control", :placeholder=>"Confirm Password" %>
    </div>
  </div>

   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Update</button>
    </div>
  </div>
<% end %>

<div class="col-sm-offset-2 col-sm-4">
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

      <%= link_to "Back", :back %>
</div>