<!-- this file defines the comment section of a gif page -->
<div class="row" id="comment_section">
    <div class="col-md-3" id="gif_context">
        <div class="panel panel-default gif_definition_panel">
        <!-- like unlike bar, to be implemented
            <div>
                <div class="progress" style="height: 5px; margin-bottom: 5px; background-color: red">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 40%;">
                    </div>
                </div>
            </div>
            -->
            <div>
                <%= time_ago_in_words(gif.created_at)+" ago"  %> - <span class="badge"><%= @gif.views %></span> views
            </div>
            <div>
                by <%= link_to  @gif.user.username, {:action => 'userspace', :controller => "special", :username => @gif.user.username  }, :class => 'link_to_user' %>          


                from <%= link_to "Source", @gif.get_image_source %>
            </div>
            <div>
                tags : 
                <% @gif.tags.take(10).each do |t| %>
                <%= link_to(t.name, :action => 'index', :controller => 'gifs_of_tag', :tag => t.name.delete('#') ) %>   
                <% end %>
            </div>
            <div>
                <% if can? :update, @gif %>
                        <p>
                            <%= button_to('Edit', edit_gif_path, :class => "", :method => :get) %>                
                        </p>                             
                        <% end %>
            </div>
            <!--
            <div>
                 render :partial => 'partial_renders/facebookstuff' %>
            </div>
            -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="comments row">
            <div class="comment row">
                <div class="col-md-11">
                    <%= form_for Comment.new, :html => { :multipart => true, :id => "ajax_comment",:remote => true, :"role" => "form" , :class => "comment_form" } do |f| %>

                    <div class="form-group">
                        <%= f.text_area :commentaire, :placeholder => "Your comment/Ton avis...",:rows => "1", :id => "new_message", :class => "form-control comment_txt_area" %>
                        <%= f.hidden_field :gif_name, :value => @gif.name %>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn" id="ajax_comment_btn" style="background-color:#2b2b2b;"><p class="text-primary">Submit</p></button>
                    <% end %>
                </div>
            </div>  
            <div id="comments_panel">
                <% @gif.comment.reverse.each do |comment| %>
                <%= render :partial => 'comments/comment_render', :locals => {:comment => comment} %>
                <% end %>
            </div>    
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        $("#ajax_comment").submit(function(){
            var dataSet = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: dataSet,
                beforeSend: function(data, textStatus, jqXHR){
                    //to define before action
                },
                success: function(data, textStatus, jqXHR){
                    $("#comments_panel").prepend(jqXHR.responseText);
                },
                error: function(data, textStatus, jqXHR){
                    alert("PLease login to comment....");
                },
            });
            return false;
        });
    })
    $(function(){
        $("#ajax_vote").submit(function(){
            var dataSet = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: dataSet,
                beforeSend: function(data, textStatus, jqXHR){
                    //to define before action
                },
                success: function(data, textStatus, jqXHR){
                    $("#upvotes_span").text(jqXHR.responseText);
                },
                error: function(data, textStatus, jqXHR){
                    alert("something went wrong with comment system....");
                },
            });
            return false;
        });
    })
</script>