<div class="panel panel-default">
    <div class="panel-heading"> 
        <%= link_to  comment.user.username, {:action => 'userspace', :controller => "special", :username => comment.user.username  }, :class => 'link_to_user' %>
        : <%= time_ago_in_words(comment.created_at)+" ago" %>
    </div>
    <div class="panel-body">
        <%= comment.commentaire %>
    </div>
</div>