<h1 class="title">Listing comments</h1>

<table border="1px">
    <tr>
        <th></th>
        <th></th>
        
    </tr>
    <% if can? :read, Comment %>	
    <% @comment.each do |comment| %>
    <tr border="1px">
        <td border="1px">  	
            <%= link_to(comment.commentaire, :action => 'show', :controller => 'gifs', :id =>(comment.gif.nil? ? '1' :comment.gif.name)) %>   
             <% if can? :destroy, Comment %>	
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
            <% else %>
                <td></td> 
            <% end %>
    </tr>
    <% end %>
    <% end %>
</table>

<br />

