<table width="100%" >	
    <tr>		
        <td>
            <%= form_for(@gif) do |f| %>		   
            <div class="giffieldscontainer giffield">					  
                <table align="center" width="50%">	
                    <tr>	
                        <td>						  
                            Title:
                        </td>
                        <td>		
                            <%= f.text_field :title %>   	
                        </td>  
                    </tr>
                    <tr>
                        <td>  	
                            Search tags :  
                        </td>						
                        <td>
                            <div class="ui-widget">						
                                <input id = 'tag' value="--- Click here ---" onclick="this.value='';"  >

                                <span id="new_tag" class="glyphicon glyphicon-plus" onclick="javascript:add_tag();">ADD</span>

                            </div> 

                        </td>
                    </tr>
                    <tr>					
                        <tr>
                            <td>  	
                                Description (and #tags):   
                            </td>						
                            <td>

                                <%= f.text_area :description ,:id => 'description' , :rows => "3"%>   

                            </td>
                    </tr>
                    <tr>
                        <td  >  	
                            NSFW ( adult content ):
                        </td>	
                        <td  >  	
                            <%= f.check_box :nsfw %>
                        </td>					  					 
                    </tr>
                    <% if user_signed_in? %>    
                    <tr id="published_field">
                        <td>  	
                            Published: 
                        </td>	
                        <td  >  	
                            <%= f.check_box :published %>
                        </td>					  					 
                    </tr>
                    <% end %> 
                    <tr>	
                        <td >  			
                        </td> 
                        <td align="center">  				
                            <%= f.submit %>
                        </td>  						 
                    </tr>
                </table >	
                <% end %>	
            </td>			
        </tr>	
</table>	
	
    <%if @gif.upload_content_type == 'image/gif' %>
        <%= render :partial => 'gifs_renders/gif_player', :locals => {:source_url => @gif.upload.url(:original) }%>
    <% else %>
        <%= render :partial => 'gifs_renders/image_displayer', :locals => {:source_url => @gif.upload.url(:original)}%>
    <% end %>

<% if can? :destroy, Gif %>
    <%= link_to 'Destroy Gif', @gif, method: :delete, data: { confirm: 'Are you sure?' } %>		
<% end %>

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script>

    function add_tag() {
        tag =document.getElementById("tag").value  
        if (!tag.match(/#/)){
            tag = '#'+tag
        }
        if (!tag.match(/-/)){
            document.getElementById("description").value += ' '+tag ;
        }	
    }

    $(function() {
        var availableTags = []
        <% if !@tags.nil? %>
            <% @tags.each do |t| %>
            availableTags.push('<%= t.name %>'  )
            <% end %>
        <% end %>	
        $( "#tag" ).autocomplete({
            source: availableTags
        });

    });
    $( "#tag" ).autocomplete({
        select: function( event, ui ) {
            document.getElementById('description').value=document.getElementById('description').value+' '+ui.item.value;
            ui.item.value='--- Add another ---';
        }
    });


    $("#tag" ).click(function() { 	

        $( "#tag" ).autocomplete( "search", "#" );
    });


</script>

