<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "libgif" %> 
<%= stylesheet_link_tag "application", :media => "all" %>  
<script>
    var isIframe=true;          
</script>
<%if @gif.upload_content_type == 'image/gif' %>
<%= render :partial => 'gifs_renders/gif_player', :locals => {:source_url => @gif.upload.url(:original) }%>
<% else %>
<%= render :partial => 'gifs_renders/image_displayer', :locals => {:source_url => @gif.upload.url(:original)}%>
<% end %>


