<script type="text/javascript">            

    var url = "<%=source_url%>"

    var processTrackMouse;
    var WaitingTime = 2;
    var MoveTimer = WaitingTime	;
    var pause = true;     	
	
    if (processTrackMouse == null){
        //trackmouse is to be called every 250 mill seconds
        processTrackMouse = setInterval(function(){trackmouse()},250);
    }	                    
    //track mounse moving function
    function trackmouse(){	
 
        if (sup1.get_loading() == false){ //gif is not loading, we can proceed
       
            document.getElementById('loading').innerHTML='Move your Mouse';
            // if for two iterations no move
            if (MoveTimer == WaitingTime){	
                //and user haven't set pause
                if (!pause) {
                    //retake the play process
                    sup1.play();
                }																
            }				
            MoveTimer = MoveTimer + 1;	
        }							
    }				
    // move mouse to a relative cordinate
    function move(x){                    
        if (sup1.get_loading() == false){
            //reset moveTimer to 0
            MoveTimer = 0;	                    
            sup1.pause();
            //the coordination is calculated in libgif
            sup1.move_to(x);	                    
        }
    }
    function userclick(){               
        if (sup1.get_loading() == false){                                   
            if (pause==false){                         
                sup1.pause();
                pause = true;
                document.getElementById("play").src="/assets/play.png"
            }
            else{
                sup1.play();
                pause = false;
                document.getElementById("play").src="/assets/pause.png"
            }
        }                    
    }
   
    function user_mouseover()
    {	
        document.getElementById('cursor').style.display = 'none';
    }

</script>
<center>
    <div>
        <div   onmousemove="move(event.pageX);" onclick="userclick()" onmouseover="user_mouseover();">
            <table id="table" width="100%" style="background-color: #000;" >
                <tr>
                    <td class="navtitle">
                        <center id="panelLeft">			            
                            <%= image_tag "cursor.gif" ,:id =>  "cursor"%>	   
                            <h4 id='loading'>
                                Loading SuperGif		                    	                    	
                            </h4> 	        		 		
                        </center>   
                    </td>	
                    <td>
                        <center id="mousezone">	  
                        <div id ="simpleGif">      
                           <image  src="<%=source_url%>" />
                           </div >  
                           <div id ="superGif">  
                             <input id="thegif" src="<%=source_url%>" rel:animated_src="<%=source_url%>"  rel:auto_play="1" />
                            </div >  
                        </center>	
                    </td>	
                    <td >
                        <center id="panelRight">	
                            <%= image_tag "play.png", :size => "50x50", :id => "play" %>
                        </center> 
                    </td>	
                </tr>
            </table>   
            <canvas id="progress-bar" height="7" style="border:1px solid #000000;" width="100%"></canvas>  
        </div>                                  
    </div>             
</center>
<script type="text/javascript"> 

    var sup1 = new SuperGif({ gif: document.getElementById('thegif') } );
    sup1.load();
    
    document.getElementById("superGif").style.display = "none";
    document.getElementById("simpleGif").onmousemove = 
	    function(){
	    	if(sup1.get_loading() == false){
                        document.getElementById("simpleGif").style.display = "none";
		     	document.getElementById("superGif").style.display = "block";
	     	}
	  	};

    	
   
	
</script>


