<!--  _gif_flows defines a generic carousel, it can take @para = controller_name as a parameter -->
<div class="col-md-2 visible-md visible-lg" >

</div>
<div class="col-md-8 visible-md visible-lg" id="carousel_gen">
    <div class="well">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <%= render :partial => 'gifs_renders/navigate_gif', :locals => {:controller_name => controller_name}%>
            </div><!--/carousel-inner-->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" id="navigate_left">
                <i class="fa fa-chevron-left fa-2x"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" id="navigate_right">
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div><!--/myCarousel-->
    </div><!--/well-->
</div>