<center>
    <div>
        <div id="mousezone">
            <table id="table" width="100%" style="background-color: #000;" >
                <tr>  	
                    <td>
                        <center>	           
                            <img id="thegif" src="<%= source_url %>"/>
                        </center>	
                    </td>		        				
                </tr>
            </table>   
            <canvas id="progress-bar" height="7" style="border:1px solid #000000;" width="100%"></canvas>  
        </div>                                  
    </div>             
</center>