<div class="col-md-8" id="gif_index_pane">
    <%=  flash[:notice] = nil %>
    <h2 class="title">
        <%= title %>
    </h2>
    <!--
    <br>
     render :partial => 'partial_renders/facebookstuff' 
    <br>
    -->
    <div class="row" id="gif_index">
        <% @gifs.each do |gif| %>
        <%= render :partial => 'gifs_renders/single_gif_render', :locals => {:gif => gif, :controller_name => controller_name} %>
        <% end %>
    </div>
</div>
<!-- end of col-md-9-->
<div class="col-md-4">

<%= render :partial => 'partial_renders/side_bar_content' %>

</div>
<!-- end of col-md-3-->
<script type="text/javascript" charset="utf-8">
//call infini stroll
$('document').ready(function(){
    intervalID = setInterval(checkScroll, 250);
})
</script>
