<!-- _navigation_gif define the inner carousel, this part change at each ajax call for navigation -->
<!-- it can take @para = controller_name as a parameter -->
<script type="application/javascript">
    function over(id){
        if (document.getElementById('minigifImg'+id).width != null){
            document.getElementById('mini'+id).style.display = 'none';
            document.getElementById('minigif'+id).style.display = 'block';
        }
    }
    function out(id){
        document.getElementById('minigif'+id).style.display = 'none';
        document.getElementById('mini'+id).style.display = 'block';
    }
</script>

<div class="item active">
    <div class="row-fluid">
        <% @gifs_nav.each do |gif| %>
        <div  onmouseover="over('<%= gif.name%>');" onmouseout="out('<%= gif.name%>');">
            <div id='mini<%= gif.name%>'  class="col-md-2" >
                <%= link_to image_tag(gif.upload_sample_url, :alt => 'time control gif '+gif.name, :border=>0, :class => "style_image_carroussel"), 
    {:action => 'show', :controller => controller_name, :id => gif.name}, :class => 'Thumbnail Image' %>
            </div>
            <div id='minigif<%= gif.name%>'  class="col-md-2" style="display:none;" >
                <%= link_to image_tag(gif.upload.url(:thumb),:id =>'minigifImg'+gif.name, :alt => 'time control gif '+gif.name, :border=>0, :class => "style_image_carroussel"), 
    {:action => 'show', :controller => controller_name, :id => gif.name}, :class => 'Thumbnail Image' %>
            </div>
        </div>
        <% end %>
    </div><!--/row-fluid-->
    <div id="navigation_offset" style="display: none;" value=<%= @gif_offset%> >
    </div>
</div><!--item active-->
