<style>
    #navigate_button_grp {
        float:right;
        color:#E0E3E1;
        vertical-align: bottom;
    }
</style>

<% content_for :head_body do %>
<%= render :partial => 'gifs_renders/gif_flows_render', :locals => {:controller_name => controller_name}%>
<% end %>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-8"><h2 class="title" id="title"><%= @gif.title %></h2></div>
        <div class="col-md-4" >
            <h2 class="title" >
                <div class="btn-group" id="navigate_button_grp">	  
                    <%= link_to "#{url_for(:controller => controller_name,:action => 'show',:id => @gifPrevious)}" , :id => @gifPrevious do %>
                    <i class="fa fa-angle-double-left fa-lg"></i> Prev
                    <% end %>
                    <%= link_to "#{url_for(:controller => controller_name,:action => 'show',:id => @gifRandom)}" , :id => @gifRandom do %>
                    <i class="fa fa-random fa-lg"></i> Random
                    <% end %>
                    <%= link_to "#{url_for(:controller => controller_name,:action => 'show',:id => @gifNext)}", :id => @gifNext do %>
                    Next <i class="fa fa-angle-double-right fa-lg"></i>
                    <% end %>
                </div>
            </h2>	
        </div>
    </div>
    <%if @gif.upload_content_type == 'image/gif' %>
        <%= render :partial => 'gifs_renders/gif_player', :locals => {:source_url => @gif.upload_original_url }%>
    <% else %>
        <%= render :partial => 'gifs_renders/image_displayer', :locals => {:source_url => @gif.upload_original_url}%>
    <% end %>

    <p align="center">
        
            <a href="<%= @gif.upload.url(:original) %>">Get the original</a> | 
            <%= link_to  "Get reversed gif",  {:action => 'reverse', :controller => "gifs", :id => @gif.name  }, :class => '' %>
            <span id="iconnew" class="label label-default">New</span>
        
    </p>
    <%= render :partial => 'comments/comment_section', :locals => {:gif => @gif} %>
</div> <!-- end of col-md-12-->
<script type="text/javascript" charset="utf-8">
    $(function(){	
        var keybinding_active = true;
        $("#new_message").focus(function(){
            keybinding_active = false;
        });
        $("#new_message").blur(function(){
            keybinding_active= true;
        });
        $(document).keydown(function(e) {
            if(keybinding_active){
                switch(e.which) {
                    case 37: // left
                        var left_id = "#<%= @gifPrevious %>";
                        window.location = $(left_id).attr('href');
                        break;

                    case 39: // right
                        var right_id = "#<%= @gifNext %>";
                        window.location = $(right_id).attr('href');
                        break;

                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            }
        });
    })
</script>