<div  class="img-thumbnail"  onmouseover="over('<%= gif.name%>');" onmouseout="out('<%= gif.name%>');" data-src="holder.js/300x200" >
      <div id='mini<%= gif.name%>'  >
	    	<%= link_to image_tag(gif.upload_sample_url, :border=>0, :class => "style_image"), 
	      {:action => 'show', :controller => controller_name, :id => gif.name,:tag => params[:tag]  } %>
      </div>
   	  <div id='minigif<%= gif.name%>' style="display:none;" >
                <%= link_to image_tag((gif.upload.url(:thumb)) , :id =>'minigifImg'+gif.name, :border=>0, :class => "style_image"), 
         {:action => 'show', :controller => controller_name, :id => gif.name,:tag => params[:tag]  } %>   
    </div>
 </div>    