<%= form_for @tag, :html => { :class => "form-horizontal", :role => "form" } do |f| %>

<div class="form-group">
    <label class="col-sm-2 control-label">Tag name</label>
    <div class="col-sm-4">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-4">
      <%= f.text_field :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
       <%= f.check_box( "tag_type", {}, "nsfw", "sfw") %> 
        <label>
          NSFW?
        </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">submit</button>
    </div>
  </div>

<% end %>
