<h1 class="title">Listing tags</h1>

<table width="100%">
    <tr>
        <th> by alphebet</th>
        <th> by population</th>
        <th> Top gifs </th>
    </tr>

    <tr >

        <td  style="vertical-align:top;">
            <ul>
                <% @grouped.keys.sort.each do |letter| %>
                <li>
                    <h2><%= letter %></h2>
                    <ul>
                        <% @grouped[letter].each do |tag| %>
                        <li>
                            <%= link_to(tag.name , :action => 'index', :controller => 'gifs_of_tag', :tag => tag.name.delete("#")) %>   	
                        </li>
                        <% end %>
                    </ul>
                </li>
                <% end %>
            </ul>
        </td>


        <td style="vertical-align:top;">
            <ul>
                <% @tags.sort_by{|u| u.howmany  }.reverse.each do |tag| %>
                <li>
                    <%= link_to(tag.name + ' ('+tag.howmany.to_s+')', :action => 'index', :controller => 'gifs_of_tag', :tag => tag.name.delete("#")) %>   	
                        <% if can? :update, Tag %>
                        <%= link_to 'Edit', edit_tag_path(tag) %>
                        <% end %>
                        <% if can? :destroy, Tag %>
                        <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                </li>
                <% end %>
            </ul>
        </td>


        <td style="vertical-align:top;">
            <ul>
                <% @gifs.sort_by{|u| u.views  }.reverse.each do |gif| %>

                <li>
                    <%= link_to image_tag((gif.upload.url(:thumb)) , :border=>0, :class => "style_image"), 
    { :action => 'show', :controller => 'gifs', :id => gif.name,:tag => params[:tag]  }, :class => 'img-thumbnail', :'data-src' => 'holder.js/300x200' %>

                </li>
                <% end %>
            </ul>
        </td>
    </tr>
</table>


