<h2><span class="label">Log In</span></h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
  <div class="form-group">
    <%= f.label :login, 'Username/Email', :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.text_field :login , :autofocus => true, :class => "form-control", :placeholder=>"Email"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.password_field :password, :autofocus => true, :type => "password", :class => "form-control", :placeholder=>"Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %>
          <%= f.label :remember_me %></div>
      <% end -%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Connect</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <div>
        <%= link_to "#{user_omniauth_authorize_path(:google_oauth2)}" do %>
          <%= image_tag('login_logos/Google_Favicon_2012.svg',:size => "20x20") %>
          <label>Sign in with Google</label>
        <% end %>
      </div>
      <div>
        <%= link_to "#{user_omniauth_authorize_path(:facebook)}" do %>
          <%= image_tag("login_logos/Facebook_icon_2013.svg",:size => "20x20") %>
          <label>Sign in with Facebook</label>
        <% end %>
      </div>
      <div>
        <%= link_to "#{user_omniauth_authorize_path(:twitter)}" do %>
          <%= image_tag("login_logos/Twitter_2012_logo.svg",:size => "20x20") %>
          <label>Sign in with Twitter</label>
        <% end %>
      </div>
      <div>
        <%= link_to "#{user_omniauth_authorize_path(:yahoo)}" do %>
          <%= image_tag("login_logos/Yahoo_Y.svg",:size => "20x20") %>
          <label>Sign in with Yahoo</label>
        <% end %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end -%>