<h1>Listing IP actions</h1>

<table>
    <tr>
        <th>IP adress</th>
        <th>Action</th>
        <th>User ID</th>
        <th>Create At</th>
    </tr>

    <% @ip_actions.each do |ip_action| %>
    <tr>
        <td><%= ip_action.ip_adr %></td>
        <td><%= ip_action.action_name %></td>
        <td><%= ip_action.user_id %></td>
        <td><%= ip_action.created_at %></td>
    </tr>
    <% end %>
</table>