/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
* Jquery ui is added for tag autocomplete
*
*/
@import "font-awesome";

html {
    background-color: #101011;
}

.disclaimer{
    color:#E0E3E1;    
} 

a:link {color:#AAAAFE;}      /* unvisited link */

.giffields a:visited {color:#AAAAFE;}


.giffieldscontainer {
    background-color: #303033; 
    margin: 20px;
    color:  #E0E3E1;
    background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
}

.gif-infos {
    color:#ABB2D4;
}

.side-upload {
    padding-top:50px;
}


.giffields {
    margin: 20px;
    background-color: #303033; 
    background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
} 
.container{
    color:#ABB2D4; 
    /*color:#E0E3E1;  */
} 

.title{
    color:#E0E3E1;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: -0px 0 0px;
    word-wrap: break-word;
} 

.content {
    color:#E0E0E0;
    background-color: #000000;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#gif_index_pane {
    width : 60%;
}

#navv
{
    a:link {color:#FF0000;}      /* unvisited link */
    a:visited {color:#FFFFFF;}  /* visited link */
    a:hover {color:#ABB2D4;}  /* mouse over link */
    a:active {color:#0000FF;}  /* selected link */ 
    a:link {color:#FFFFFF;}      /* unvisited link */
}





