// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.browseTable {
width: 100%;
}

td, th {
width: 33%;
}
.MousePanel{
	background-color: #444;
}

.browseTable td{
}

.carousel-inner{
	//background-color: #D2691E;
}

.well{
	background-color: #303033; 
}

.thumbnails > li {
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
}

#gif_index {
	//background-color: #D2691E;
}

.style_image_carroussel{
	width: 80px; 
	height: 80px;
}

.style_image{
	width: 135px; 
	height: 135px;
}

.gif_definition_panel {
    background-color:#2b2b2b;
    padding-top:5px;
    padding-bottom:5px;    
    padding-right:5px;
    padding-left:5px;
}

.comment_txt_area {
    background-color:#2b2b2b;
    color: #FFF;
}

.gif-player-panel{
    background-color:#2b2b2b;
    padding-top:5px;
    padding-bottom:5px;    
    padding-right:5px;
    padding-left:5px;
}