<div id="fb-root"></div>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e51e7c24-aa5d-4026-8753-0a26e09c1825", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<table id="shareButtons" width="50">
	<tr>
	<!--				
		<td >						
			<a type="button"  style="color:#111111;" class="btn btn-default" href="#test_modal" data-toggle="modal">Instant karma</a>			
		</td>	
		<td >
			&nbsp&nbsp&nbsp&nbsp&nbsp
		</td>	
		-->				
		<td>			
			<div class="tweetShare socialMarge">
				<a href="http://twitter.com/share" class="twitter-share-button"
					data-url="<%= 'http://gifplay.me'+ (@gif.nil? ? '' : '/gifs/'+@gif.name)  %>"
						data-text="Mouse control Gifs <%= (@gif.nil? ? '' : @gif.title) %>"
						data-via="gifplay.me"
					data-count="hoizontal"
					data-lang="en"></a>
				<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>		
		</td>
		<td>			
			<div class="googlePlusOne socialMarge">
				<g:plusone size="medium" href="<%= 'http://gifplay.me'+( @gif.nil? ? '' : '/gifs/'+@gif.name ) %>"></g:plusone>
				<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
				{lang: 'en'}
				</script>
			</div>		
		</td>
		<td>			
			<div class="fb-like" data-href="<%= (@gif.nil? ? 'http://facebook.com/gifplay.me' : 'http://gifplay.me/gifs/'+@gif.name ) %>" data-width="0" data-height="21" data-layout="button_count" data-action="like" data-colorscheme="light" data-show-faces="false" data-send="false"></div>
		</td>		
	</tr>		
</table>
		

<div id="test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">  
  <div class="modal-content">
  
	<div id="share" class="modal-body">
			
<table >
	<tr >  
		<h1 align="center">			    
      	Share
		</h1>  
	</tr> 
	<tr align="center">  
		<td>			    
      	Copy link:
		</td>  
	</tr>  
	<tr align="center">  
		<td>			    
      	
      <textarea rows="1" cols="50">
http://gifshake<%= 'http://gifshake.com'+( @gif.nil? ? '' : '/gifs/'+@gif.name ) %> %>
      </textarea> 

		</td> 
	<tr align="center">  
		<td>			    
      	HTML frame:
		</td>  
	</tr>  
	<tr align="center">  
		<td>			    
      	
      <textarea rows="2" cols="50">
<iframe src='<%= 'http://gifshake.com'+( @gif.nil? ? '' : '/gifs/'+@gif.name ) %>' scrolling='no' height='300' width='600'></iframe>
      </textarea> 

		</td>  
	</tr>
	  <tr align="center">  
		<td>			    
      	Share on social platforms:
		</td>  
	</tr>  
	  <tr align="center">						
		<td>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_googleplus_large' displayText='Google +'></span>
			<span class='st_reddit_large' displayText='Reddit'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_pinterest_large' displayText='Pinterest'></span>
	</td>		
	</tr>	
</table>
     </div>
     </div> <!-- /tabbable -->
	
</div> <!-- end of modal-content -->
</div> <!-- end of modal-dialog -->
		