<div class="side-upload img-rounded" id="side-bar">

    <div class="panel gif-player-panel" id="gif-player-panel">
        <div class="panel-heading"> 
            <a href="#upload_modal_popup" data-toggle="modal" id="upload_gif_nav_bar">
                <h3>Upload and control a gif !</h3>
            </a>
        </div>
        <div class="panel-body">

            <center>
                <a href="#upload_modal_popup" role="button"  data-toggle="modal" id="upload_modal_from_computer_popup">
                    <%= image_tag "computert.png", :size => "120x40" %>
                </a>

                <a href="#upload_modal_popup" role="button"  data-toggle="modal" id="upload_modal_from_url_popup">
                    <%= image_tag "webt.png", :size => "120x40"%>
                </a>
            </center>
        </div>    
    </div>

    <div class="panel gif-player-panel" id="gif-player-panel">
        <div class="panel-heading"> <h3>Paste and play! <span id="iconnew" class="label label-default">New</span></h3></div> 
        <div class="panel-body">
            <form id="play_gif" action="/player">
                <fieldset>
                    <div class="form-group">
                        <label for="play">Paste a gif URL:</label>
                        <input class="form-control" name="play" id="play" placeholder="Image URL..." type="text">
                    </div>
                    <button type="submit" class="btn btn-primary">Play</button>
                </fieldset>
            </form>
        </div>    
    </div>
</div><!--! end of .col-md-3 -->  

<script type="text/javascript" charset="utf-8">
    $(function(){
        $("#upload_modal_from_computer_popup").click(function(){
            clear_upload_forms();
            setUpload_from_computer_tabActive();
        });
        $("#upload_modal_from_url_popup").click(function(){
            clear_upload_forms();
            setUpload_from_url_tabActive();
        }); 
    })

</script>