<%= form_for Gif.new, :html => { :multipart => true, :id => "fileupload_from_computer",:remote => true,:"role" => "form"} do |f| %> 
<div id="fileupload_from_computer_notification">
    <!-- add notification here -->
</div>
<div class="form-group">
    <label for="inputFileField">local file : </label>
    <%= f.file_field :upload, :id => "fileupload_from_computer_local_file" %>
    <span class="help-block">choose a file from you computer.</span>
</div>
<div class="form-group hidden" ALIGN=CENTER id="fileupload_from_computer_loading_icons">  
    <i class="fa fa-spinner fa-spin fa-3x"></i>
    <i class="fa fa-refresh fa-spin fa-3x"></i>
    <i class="fa fa-cog fa-spin fa-3x"></i> 
</div>
<button type="submit" class="btn" id="fileupload_from_computer_submit_btn">Submit</button>
<% end %>


<script>
    var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
    };
</script>

<script type="text/javascript" charset="utf-8">
    function _diplay_error_msg_in_form(msg)
    {
        $('#fileupload_from_computer_notification').addClass('alert alert-danger');
        $('#fileupload_from_computer_notification').prepend('<p>'+msg+'</p>');
        $('#fileupload_from_computer_submit_btn').attr("disabled","disabled");
    } 
    $(function(){
        $('#fileupload_from_computer_local_file').bind('change', function(){
            //alert(this.files[0].size);
            var supportedFormats = ['image/jpg','image/gif','image/png','image/jpeg'];
            $('#fileupload_from_computer_notification').removeClass('alert alert-danger').empty();;
            $('#fileupload_from_computer_submit_btn').removeAttr("disabled");
            var attached_file=this.files[0];
            var attached_file_size = attached_file.size||attached_file.fileSize;
            var attached_file_size_inMB=(attached_file_size/(1024*1024)).toFixed(2);
            if (attached_file) {
                if(attached_file.type){
                    if (0 > supportedFormats.indexOf(attached_file.type)) {

                        _diplay_error_msg_in_form('Your up load file format ['+ attached_file.type +'] is not supported, supported format are : ' + supportedFormats);
                        return;
                    }
                    if(attached_file_size_inMB > 20) //20 megabytes
                    {
                        _diplay_error_msg_in_form('Max file size is 20MB, your file size is'+attached_file_size_inMB+'MB!');
                        return;
                    }
                }else
                {
                    _diplay_error_msg_in_form('File type is not detected');
                }

            }
        });
        $("#fileupload_from_computer").submit(function(){
            //var form = new FormData($('#fileupload_from_computer'));
            $('#fileupload_from_computer_loading_icons').removeClass('hidden');
            $('#fileupload_from_computer_submit_btn').attr("disabled","disabled");
            $('#fileupload_from_computer_notification').removeClass('alert alert-danger').empty();;
            var form = $(this);
            var formdata = false;
            if (window.FormData){
                formdata = new FormData(form[0]);
            }
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data        : formdata ? formdata : form.serialize(),
                cache       : false,
                contentType : false,
                processData : false,
                //data: dataSet,
                dataType: "json",
                beforeSend: function(data, textStatus, jqXHR){
                    //to define before action
                },
                success: function(data, textStatus, jqXHR){

                    window.location = data.edit_url;
                    $('#fileupload_from_computer_loading_icons').addClass('hidden');
                    $('#fileupload_from_computer_submit_btn').removeAttr("disabled");
                },
                error: function(data, textStatus, jqXHR){
                    $('#fileupload_from_computer_notification').addClass('alert alert-danger');
                    //var alert_close_button = '<button class="close" data-dismiss="alert" type="button">×</button>'
                    var json_object = $.parseJSON(data.responseText);
                    $.each(json_object, function (index, error_msg) {
                        $('#fileupload_from_computer_notification').prepend('<p>'+error_msg+'</p>');
                    });
                    $('#fileupload_from_computer_loading_icons').addClass('hidden');
                    $('#fileupload_from_computer_submit_btn').removeAttr("disabled");
                },
            });
            return false;
        });
    })


</script>
