<!-- Modal -->
<style>
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>
<div id="upload_modal_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <ul class="nav nav-tabs" id="upload_modal_popup_inner_tab">
                    <li id="upload_from_computer_li"><a href="#upload_from_computer_tab" data-toggle="tab"><i class="fa fa-laptop fa-2x"></i> Upload from Computer</a></li>
                    <li id="upload_from_url_li" class="active"><a href="#upload_from_url_tab" data-toggle="tab"><i class="fa fa-cloud-upload fa-2x"></i> upload from URL</a></li>
                </ul>
                <div class="tabbable">
                    <div class="tab-content">
                        <div class="tab-pane active" id="upload_from_computer_tab">
                        </br>
                        <%= render :partial => 'partial_renders/upload_from_computer_popup_window' %>

                    </div>
                    <div class="tab-pane" id="upload_from_url_tab">
                    </br>
                    <%= render :partial => 'partial_renders/upload_from_url_popup_window' %>

                </div>
            </div>
        </div> <!-- /tabbable -->

    </div> <!-- end of modal-content -->
</div> <!-- end of modal-dialog -->
</div> <!-- end of .modal -->


<script type="text/javascript" charset="utf-8">
    function setUpload_from_computer_tabActive()
    {
        $("#upload_from_computer_tab").addClass('tab-pane active');
        $("#upload_from_url_tab").removeClass('active');
        $("#upload_from_computer_li").addClass('active');
        $("#upload_from_url_li").removeClass('active');
    }

    function setUpload_from_url_tabActive()
    {
        $("#upload_from_computer_tab").removeClass('active');
        $("#upload_from_url_tab").addClass('tab-pane active');
        $("#upload_from_computer_li").removeClass('active');
        $("#upload_from_url_li").addClass('active');
    }
    function clear_upload_forms()
    {
        { // clear fileupload_from_computer form
            $('#fileupload_from_computer').each(function(){
                this.reset();
            });
            //$("#fileupload_from_computer").reset();
            $('#fileupload_from_computer_loading_icons').addClass('hidden');
            $('#fileupload_from_computer_submit_btn').removeAttr("disabled");
            $('#fileupload_from_computer_notification').removeClass('alert alert-danger').empty();
        }
        { // clear fileupload_from_url form
            $('#fileupload_from_url').each(function(){
                this.reset();
            });
            $('#fileupload_from_loading_icons').addClass('hidden');
            $('#fileupload_from_url_submit_btn').removeAttr("disabled");
            $('#fileupload_from_url_notification').removeClass('alert alert-danger').empty();
        }
    }
</script>
