
		<%= form_for Gif.new, :html => { :multipart => false, :id => "fileupload_from_url",:remote => true, :"role" => "form"  } do |f| %>
          <div id="fileupload_from_url_notification">
            <!-- add notification here -->
          </div>
          <div class="form-group">
          <label>url : </label>
          <%= f.text_field :gif_url,  :"placeholder" => "copy url…" %>
          <span class="help-block">enter an url here.</span>
          </div>
          <div class="form-group hidden" ALIGN=CENTER id="fileupload_from_loading_icons" >
              <i class="fa fa-spinner fa-spin fa-3x"></i>
              <i class="fa fa-refresh fa-spin fa-3x"></i>
              <i class="fa fa-cog fa-spin fa-3x"></i>
          </div>
          <button type="submit" class="btn" id="fileupload_from_url_submit_btn">Submit</button>
		<% end %>

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<script type="text/javascript" charset="utf-8">
 
  $(function(){
    $("#fileupload_from_url").submit(function(){
        $('#fileupload_from_loading_icons').removeClass('hidden');
        $('#fileupload_from_url_submit_btn').attr("disabled","disabled");
        $('#fileupload_from_url_notification').removeClass('alert alert-danger').empty();;
        var dataSet = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: dataSet,
            dataType: "json",
            beforeSend: function(data, textStatus, jqXHR){
              //to define before action
            },
            success: function(data, textStatus, jqXHR){
                
                window.location = data.edit_url;
                $('#fileupload_from_loading_icons').addClass('hidden');
                $('#fileupload_from_url_submit_btn').removeAttr("disabled");
            },
            error: function(data, textStatus, jqXHR){
                //alert("something went wrong....")
                $('#fileupload_from_url_notification').addClass('alert alert-danger');
                //var alert_close_button = '<button class="close" data-dismiss="alert" type="button">×</button>'
                var json_object = $.parseJSON(data.responseText);
                $.each(json_object, function (index, error_msg) {
                    $('#fileupload_from_url_notification').prepend('<p>'+error_msg+'</p>');
                });

                $('#fileupload_from_loading_icons').addClass('hidden');
                $('#fileupload_from_url_submit_btn').removeAttr("disabled");
            },
        });
        return false;
    });
})


</script>
