</br>
</br>
</br>

<h1 class="disclaimer" align="center" >You have to be at least 21 years old to access this section</h1>

<table width="100%">

    <tr height="100px">
        <td>

        </td>
    </tr>


    <tr align="center">

        <td>
            <%= link_to "I am over 21",  root_path+'special/redirection?render_url='+ params[:render_url]  %>

        </td>

        <td>

            <%= link_to "I am under 21", root_path   %>
        </td>
    </tr>
    <tr height="100px">
        <td>

        </td>
    </tr>
</table>
