<title>About us</title>
<div class="title">
    <h1  >About us</h1>
    <p>		We are two 25 years old software engineers working in an big IT company at Nice city (France).</p>

    <p>We made gifplay.me on our free time because we thought the functionality we provide 
        is missing (or is not user-friendly ) on the existing web.</p> 
    <p>We allow everyone to upload and to share these 'SuperGif' (<%= link_to 'What is it?',  root_path+ 'special/howto'%>) through the most user friendly interface we can. </p>
    <p>We hope that a lot of you will like it. And above all, we hope that some of you will be able to discover new potential applications.</p>
    <p>You can help us to grow up by uploading and sharing your favorite gifs that deserve to be improved by our tool. </p>
    <p>Feel free to send us any feedbacks or suggestions at <a class='title'>webmaster.gifplay.me@gmail.com </a>.</p>
    <p>-anon </p>
</div>