<div class="title">
    <h1 class="title" >What is Gifplay.me ?</h1>
    <p>gifplay.me is firstly an online image hosting made by two fellows  (<%= link_to 'About us',  root_path+ 'special/whoarewe'%>) and is online since the 7th of december 2013.</p>

    <p>But Gifplay.me is also an innovative tool because it provides the mouse time control functionality.</p>
    <p>Once a gif is loaded in the Gifplay.me's interface, it becomes a kind of SuperGif: the user
        can precisely control the passage of time with his mouse. </p>
    <p> The image's width is like a time axis along which the mouse can move freely.</p>
    <p>This allows the user to play a gif forward, backward or to play a specific moment in slow motion.</p>
    <p>We already have imagined a lot of potential applications and we hope that Internet will discover new ones.</p>



    <p>we have other ideas that we will implement if the site is successful enough, like allowing users to 
        record their own mouse moves to generate a new gif.</p>

    <p>You can help us by uploading a maximum of gifs that deserve to be improved ;)</p>
    <p>-anon</p>
</div >