<% if @player_error_status == 0 %> <!-- no error -->
<%= render :partial => 'gifs_renders/gif_player', :locals => {:source_url => @source_url}%>
<fieldset>
    <div class="form-group">
        <label for="play">Link to this page:</label>
        <input class="form-control" name="current_page" id="current_page" value="<%= URI.decode(request.original_url)%>" type="text" style="color: black;">
    </div>
</fieldset>
<% else %>
<% if @player_error_status == 5987 || @player_error_status == 6997 %> <!-- url source error -->
<%= render :partial => 'errors/gif_player_url_source_errors', :locals => {:source_url => @source_url}%>
<% elsif @player_error_status == 9973%>	
    <h2>If you're seeing this error after submitting an image, the image host don't support CORS, upload your image on Imgur maybe! </h2>
<% else %>
    <h2> OOPS, unknow error with your URL</h2>
<% end %>
<% end %>

<div class="panel gif-player-panel" id="gif-player-panel">
    <form id="play_gif">
        <fieldset>
            <div class="form-group">
                <label for="play">Paste a gif URL:</label>
                <input class="form-control" name="play" id="play" placeholder="Image URL..." type="text">
            </div>
            <button type="submit" class="btn btn-primary">Play</button>
        </fieldset>
    </form>
</div>