<%=  flash[:notice] = nil %>

<div class="col-md-9" id="gif_index_pane">

    <h2 class="title">
        <%= @user.username %><br>
    </h2>

    <div class="giffieldscontainer img-rounded">
        <div class="giffields">

            <table align="center" >
                <tr height="10px" >
                    <td  >

                    </td  >
                </tr  >
                <tr height="10px" >
                    <td  >
                        <h2 >
                            Score : <%= @score %> 	
                        </h2>	 			
                    </td  >
                </tr  >
                <tr height="10px" >
                    <td  >
                        Uploads : <%= @uploaded %>
                    </td  >
                </tr  >
                <tr height="10px" >
                    <td  >
                        Total views : <%= @views %>
                    </td  >
                </tr  >
                <tr height="10px" >
                    <td  >
                        Total upvotes received: <%= @upvotes %>
                    </td  >
                </tr  >
                <tr height="10px" >
                    <td  >

                    </td  >
                </tr  >
            </table>

        </div> 
    </div> 

    <h2 class="title">
        Comments 
    </h2>

    <div class="giffieldscontainer img-rounded">
        <div class="giffields">
            <table>
                <% @comment.each do |comment| %>
                <tr border="1px">
                    <td border="1px">  	
                        <%= link_to(comment.commentaire, :action => 'show', :controller => 'gifs', :id =>(comment.gif.nil? ? '' :comment.gif.name)) %>   
                    </td>   
                </tr>
                <% end %>
            </table>

        </div> 
    </div> 

    <h2 class="title">
        Published Images 
    </h2>


    <div class="row" id="gif_index">
        <% @gifs.each do |gif| %>
        <%= render :partial => 'gifs_renders/single_gif_render', :locals => {:gif => gif, :controller_name => "gifs"} %>
        <% end %>
    </div>
    <%= will_paginate @gifs %>

    <br/>

</div> <!-- end of col-md-9-->

<div class="col-md-3">
<%= render :partial => 'partial_renders/side_bar_content' %>
</div>
