<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-left" href="/">
                <%= image_tag "logo2.png", :size => "40x20" %>
            </a>
        </div>
        <div class="navbar-header">
            <%= link_to "Gifplay.me", root_path , :class => 'navbar-brand'%>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#upload_modal_popup" data-toggle="modal" id="upload_gif_nav_bar">

                        <font size="large"> <span class="container glyphicon glyphicon-open" ></span>Upload images/gifs</font> 
                    </a>
                </li>
                <li>
                    <%= link_to "Tags", root_path+ 'tags'  %>
                </li>
                <li>
                    <%= link_to "/t/nsfw_gif" do %>
                    <%= image_tag('devil.ico',:size => "20x20") %> 
                    <font color="red"><b>nsfw</b></font>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <%= link_to "#{root_path+ 'special/howto'}" do %>
                    <i class="fa fa-question fa-lg"></i>
                    <% end %>
                </li>
                <% if user_signed_in? %>
                <li >
                    <%= link_to('Logout '+ current_user.username, destroy_user_session_path, :method=>'delete') %>
                </li>
                <% else %>
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                        <i class="fa fa-user fa-lg"></i>
                        Login
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "#{user_omniauth_authorize_path(:google_oauth2)}" do %>
                            <%= image_tag('login_logos/Google_Favicon_2012.svg',:size => "20x20") %>
                            <label>Google</label>
                            <% end %>
                        </li>
                        <li><%= link_to "#{user_omniauth_authorize_path(:facebook)}" do %>
                            <%= image_tag("login_logos/Facebook_icon_2013.svg",:size => "20x20") %>
                            <label>Facebook</label>
                            <% end %>
                        </li>
                        <li><%= link_to "#{user_omniauth_authorize_path(:twitter)}" do %>
                            <%= image_tag("login_logos/Twitter_2012_logo.svg",:size => "20x20") %>
                            <label>Twitter</label>
                            <% end %>
                        </li>
                        <li><%= link_to "#{user_omniauth_authorize_path(:yahoo)}" do %>
                            <%= image_tag("login_logos/Yahoo_Y.svg",:size => "20x20") %>
                            <label>Yahoo</label>
                            <% end %>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "#{new_user_session_path}" do %>
                            <label>Gifplay.me Login</label>
                            <% end %>
                        </li>
                    </ul>
                </li>
                <li><%= link_to "#{user_omniauth_authorize_path(:google_oauth2)}" do %>
                    <%= image_tag('login_logos/Google_Favicon_2012.svg',:size => "20x20") %>               
                    <% end %>
                </li>
                <li><%= link_to "#{user_omniauth_authorize_path(:facebook)}" do %>
                    <%= image_tag("login_logos/Facebook_icon_2013.svg",:size => "20x20") %>                 
                    <% end %>
                </li>
                <li><%= link_to "#{user_omniauth_authorize_path(:twitter)}" do %>
                    <%= image_tag("login_logos/Twitter_2012_logo.svg",:size => "20x20") %>         
                    <% end %>
                </li>
                <li><%= link_to "#{user_omniauth_authorize_path(:yahoo)}" do %>
                    <%= image_tag("login_logos/Yahoo_Y.svg",:size => "20x20") %>        
                    <% end %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                <li>
                    <%= link_to('Edit account', edit_user_registration_path) %>
                </li>        
                <li>
                     <%= link_to  "Your space" , {:action => 'userspace', :controller => "special", :username => current_user.username  }, :class => 'link_to_user' %>
                </li>
                 <% if current_user.role?(:redpanda) %>
                    <li> Admin mode </li>
                <% end %>
                <%end%>
            </ul>
        </div>
    </div><!-- /container -->
</div>
<!-- /Header -->
<script type="text/javascript" charset="utf-8">
    $(function(){
        $("#upload_gif_nav_bar").click(function(){
            clear_upload_forms();
            setUpload_from_url_tabActive();
        });
    })
</script>
<style>
    .dropdown-menu > li > a > label{
        padding-left: 20px;
    }
</style>