<!doctype html>
<html>
    <head>   	
        <link rel="icon" type="image/png" href="/logo.png" />
        <!-- this is for what? -->
        <link rel="image_src" href="<%= @gif.nil? ? '/logo.png' : @gif.source_url%>" />  	  	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) :  " Gifplay.me: play with gifs"+ (  @gif.nil? ? '': ' - '+@gif.title)  %></title>
        <meta name="title" content="Play with gifs" />

        <meta name="description" content="<%= !@gif.nil? ? @gif.title+' - ' : '' %>Gifplay.me is a gif player, it provides an orignal way to control the time of gifs!" />

        <meta name="keywords" content="gif player,explode gif,cut gif,control gif, gif, scan gif, reverse gif, slow motion, gif tool, image upload, gif upload, real time, mouse control gif, stop gif, start gif, funny images,play, share, image hosting" />
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
    </head>
    <body>  
        <!-- /Header -->
        <%= render 'layouts/navigation' %>
        <!-- /Header -->
        <!-- Main -->
        <div id="main" role="main" class="container">
            <div class="row">
                <%= yield(:head_body) %>   
                <%= render 'layouts/messages' %>
                <%= yield %>
                <%= yield(:side_bar_content) %>
            </div><!--! end of .row -->   
        </div> <!--! end of #main  .container-->
        <!-- Main -->
        <footer>
            <%= yield :footer %>
            <center>
                <%= link_to 'What is it?',  root_path+ 'special/howto'  %> /
                <%= link_to 'terms Of Services',  root_path+ 'special/policy'%> /
                <%= link_to 'About us',  root_path+ 'special/whoarewe'  %>
            </center>
        </footer>

    </body>
</html>

<%= render :partial => 'partial_renders/upload_modal_popup_window' %>

<!-- put the analylic code in the end, enable only for production env-->
<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46239975-1', 'auto');
  ga('send', 'pageview');

</script>
<% end %>

